/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
*{-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
i,em{font-style:italic;}
b,strong{font-weight:bold;}
body {
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	font-size: 100%;
	line-height: normal;
	padding: 20px;
	color: #010101;
	background: url(../imgs/bg.jpg) top center no-repeat #000;
}
#app {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0px auto;
	padding: 20px;
	border: 2px solid #131a2a;
	overflow: hidden;
	min-height: 600px;
	border-radius: 5px;
	background-color: #08090e;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.85);
}
#app h1 {
	padding: 5px 10px;
	background-color: rgba(255,255,255,0.85);
	border-radius: 5px;
	border: 1px solid;
}
#characters .list {
	margin-bottom: 40px;
}
.char {
	position: relative;
	width: 25%;
	padding: 10px;
	list-style: none;
	display: inline-block;
	vertical-align: top;
}
.char .inner {
	padding: 10px;
	background-color: rgba(255,255,255,0.85);
	border-radius: 5px;
	border: 1px solid;
}
.char .edge {
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10px;
	border: 4px solid #465734;
	padding: 8px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
	cursor: pointer;
	background-color: #fff;
}
.char img {
	max-width: 100%;
	height: auto;
	display: block;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.char h3,
.char h4 {
	font-weight: bold;
	font-size: 24px;
	margin: 0 5px;
	cursor: pointer;
}
.char span {
	font-size: 12px;
	margin: 0 5px;
	padding-left: 5px;
	border-left: 1px solid;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.char .action {
	font-size: 12px;
	float: right;
	margin-right: 5px;
}
.char .edit {
	color: green;
}
.char .delete {
	color: red;
}
#sure, 
#edit {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.75);
	display: none;
	padding: 10px;
}
#sure .inner, 
#edit .inner {
	position: relative;
	width: 100%;
	max-width: 320px;
	padding: 20px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid;
	box-shadow: 0 10px 10px rgba(0,0,0,0.25);
}
#sure .inner .action {
	text-align: center;
	padding-top: 10px;
}
#sure .inner .delete {
	display: inline-block;
	padding: 10px 20px;
	background-color: red;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
}
#edit .inner {
	height: auto;
}
#edit .close {
	margin-bottom: 20px;
	text-align: right;
	font-weight: bold;
	cursor: pointer;
}
form {
	max-width: 320px;
}
form h2 {
	margin-bottom: 10px;
}
form input {
	width: 100%;
	height: 40px;
	display: block;
	border-radius: 5px;
	border: 1px solid;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
	margin: 5px 0;
	padding: 0 10px;
	font-size: 16px;
	font-weight: bold;
	background-color: rgba(255,255,255,0.85);
	color: #181825;
}
::-webkit-input-placeholder {
   color: #3c3b5a;
}
:-moz-placeholder { /* Firefox 18- */
   color: #3c3b5a; 
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #3c3b5a;  
}
:-ms-input-placeholder {  
   color: #3c3b5a;  
}
form .upload {
	border-radius: 5px;
	padding: 10px;
	background-color: rgba(255,255,255,0.85);
}
form input[type="file"] {
	height: auto;
	padding: 10px;
}
form input[type="submit"] {
	color: #fff;
	background-color: #262626;
	margin-top: 10px;
}
#view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	display: none;
}
#view .close {
	cursor: pointer;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}
#footer {
	text-align: center;
	font-size: 14px;
	padding: 40px 0 60px;
	color: #fff;
}


#loading {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.75);
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: block;
}
/* PACE */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background: #0b0e17;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
}

.pace.pace-active .pace-activity {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  transform: translateX(50%) translateY(-50%) rotate(45deg);
}

.pace .pace-activity::before,
.pace .pace-activity::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}

.pace .pace-activity::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: rgba(0, 0, 0, .2);
    border-left-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 3s linear infinite;
    animation: pace-theme-corner-indicator-spin 3s linear infinite;
}

.pace .pace-activity::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 1s linear infinite;
    animation: pace-theme-corner-indicator-spin 1s linear infinite;
}

@-webkit-keyframes pace-theme-corner-indicator-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-theme-corner-indicator-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}